<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="sass/hbs/error.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 Not Found</title>
    {{>top}}
</head>

<body>
    {{>nav}}
    <div class="container text-center">
        <img src="img/error.jpg" alt="" srcset="">
        <p>Error Not Found </p>
    </div>
</body>
{{>bottom}}
</html>