<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Material</title>
    {{>top}}
    <link rel="stylesheet" href="sass/home/material.css">
</head>
<body>
    {{>nav}}
     <section id="study-material" style="margin-top: 30px;">
     <div class="separator text-center" id="separator1">Study Material</div>

    <main class="text-center">
      <div class="card image1" id="class-6" data-aos="fade-right" data-aos-duration="2000">
        <img src="img/class_6.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">class-6</h5>
          <p class="card-text">get free book and notes solution of ncert,reference book and question bank </p>
          <a href="#" class="btn btn-primary">see more</a>
        </div>
      </div>


      <div class="card" id="class-7" data-aos="fade-right" data-aos-duration="2000">
        <img src="img/class_7.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">class-7</h5>
          <p class="card-text">get free book and notes  solution of ncert,reference book and question bank</p>
          <a href="#" class="btn btn-primary">see more</a>
        </div>
      </div>


      <div class="card" id="class-8" data-aos="fade-right" data-aos-duration="2000">
        <img src="img/class_8.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">class-8</h5>
          <p class="card-text">get free book and notes solution of ncert,reference book and question bank</p>
          <a href="#" class="btn btn-primary">see more</a>
        </div>
      </div>


      <div class="card image4" id="class-9" data-aos="fade-right" data-aos-duration="2000">
        <img src="img/class_9.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">class-9</h5>
          <p class="card-text">get free notes of ncert,reference book and strength your foundation</p>
          <a href="#" class="btn btn-primary">see more</a>
        </div>
      </div>


      <div class="card image5" id="class-10" data-aos="fade-right" data-aos-duration="2000">
        <img src="img/class_10.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">class-10</h5>
          <p class="card-text">Get free resource of ncert,reference-book and competitive exam </p>
          <a href="#" class="btn btn-primary">see more</a>
        </div>
      </div>

    </main>

   </section>
</body>
{{>bottom}}
</html>