<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    {{>top}}
    <link rel="stylesheet" href="sass/hbs/contact.css">
</head>
<body>

    {{>nav}}
     <div class="container-fluid2 text-center">
         <div class="top ">
             <img src="img/logo.png" alt="" srcset="">
         </div>
                 <div class="alert-zone text-center"></div>
         <div class="bottom container">
             <form action="/request-course" method="post" autocomplete="off">
             <input type="text" name="name" id="userName" placeholder="Username" required>
             <input type="email" name="gmail" id="userGmail" placeholder="Gmail" required>
             <input type="text" name="course" id="userCourse" placeholder="Enter Your Course" required>
             <textarea name="message" id="userMessage" cols="50" rows="10" placeholder="Enter Your Message About Course"></textarea>
             <div>
                 <input type="submit" value="Submit" id="submitBtn">
             </div>
             </form>
         </div>
     </div>
</body>
<script src="js/button.js"></script>
{{>bottom}}
</html>