#study-material {
  background-color: #212529;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 18rem;
  z-index: 1;
  position: relative;
}

.separator {
  color: #fff;
  font-size: 3rem;
  z-index: -1;
}

main {
  position: relative;
  width: 95%;
  margin: 50px auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (150px)[5];
      grid-template-columns: repeat(5, 150px);
  -ms-grid-rows: (150px)[2];
      grid-template-rows: repeat(2, 150px);
  grid-row-gap: 25rem;
  grid-column-gap: 10rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-columns: (minmax(150px, 200px))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(150px, 200px));
}

#image1 img {
  height: 7.8rem;
}

.card {
  width: 21rem;
  height: 34rem;
  border-radius: 10px !important;
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.card img {
  width: 11rem;
  margin-top: 20px;
}

.card p {
  font-size: 1.3rem;
}

.card .btn-primary {
  font-size: 1.4rem;
  width: 9rem;
}

.card-title {
  font-size: 1.7rem;
  font-weight: 600;
}

.card-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.card-body a {
  width: 12rem;
  border-radius: 6px;
}

.card-body p {
  text-transform: capitalize;
}

#containerSearcher {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 17px;
  z-index: -1;
}

#searcherBar {
  border: 2px solid #fff;
  width: 29rem;
  height: 3.5rem;
  text-transform: capitalize;
  font-size: 1.5rem;
}

.searcherBtn {
  font-size: 1.5rem !important;
  margin-top: 11px;
  background-color: #3498db !important;
  color: #fff !important;
  border: 2px solid #fff !important;
  margin-top: 0px !important;
}

.funbtn {
  background-color: #3498db;
  text-transform: capitalize;
  color: #fff;
  width: 8.5rem;
  border-radius: 4px;
  border: 1px solid white;
  height: 3.2rem;
  outline: none;
  font-size: 1.5rem;
}

.btn-group2 {
  margin-top: 1%;
}

#is-student {
  padding-right: 3%;
}

.hide {
  color: #fff;
  font-size: 3.5rem;
  font-weight: 700;
  display: none;
  margin-top: 2rem;
}

@media only screen and (max-width: 990px) {
  #study-material {
    margin-top: 6rem;
  }
}

@media screen and (max-height: 381px) {
  #study-material {
    margin-top: 20rem;
  }
}

@media only screen and (max-width: 483px) {
  .hidepara {
    margin-left: -17rem !important;
  }
}

@media only screen and (max-width: 500px) {
  main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    grid-gap: 3rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #study-material {
    margin-bottom: 0rem;
  }
}
/*# sourceMappingURL=material.css.map */