#study-material {
  background-color: #212529;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 18rem;
}

.separator {
  color: #fff;
  font-size: 3rem;
}

main {
  position: relative;
  width: 95%;
  margin: 50px auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (150px)[5];
      grid-template-columns: repeat(5, 150px);
  -ms-grid-rows: (150px)[2];
      grid-template-rows: repeat(2, 150px);
  grid-row-gap: 25rem;
  grid-column-gap: 10rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-columns: (minmax(150px, 200px))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(150px, 200px));
}

#image1 img {
  height: 7.8rem;
}

.card {
  width: 21rem;
  height: 34rem;
  border-radius: 10px !important;
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.card img {
  width: 11rem;
  margin-top: 20px;
}

.card p {
  font-size: 1.3rem;
}

.card .btn-primary {
  font-size: 1.4rem;
  width: 9rem;
}

.card-title {
  font-size: 1.7rem;
  font-weight: 600;
}

.card-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.card-body a {
  width: 12rem;
  border-radius: 6px;
}

.card-body p {
  text-transform: capitalize;
}

#contact-form {
  background-color: #212529;
  margin-top: 20rem;
}

.container-fluid3 {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.top img {
  height: 40vh;
}

input {
  margin-top: 10px !important;
}

.bottom {
  height: 40vh;
}

form {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-transform: capitalize;
}

input[type=text] {
  width: 35%;
  height: 3.5rem;
  padding: 3px;
  padding-left: 8px;
  margin: auto;
  font-size: 1.3rem;
  background: transparent;
  border: none;
  border-bottom: 1px solid white;
  outline: none;
  color: #fff;
  text-transform: capitalize;
}

input[type=email] {
  width: 35%;
  height: 3.5rem;
  padding: 3px;
  padding-left: 8px;
  margin: auto;
  font-size: 1.3rem;
  background: transparent;
  border: none;
  border-bottom: 1px solid white;
  outline: none;
  color: #fff;
  text-transform: capitalize;
}

#containerSearcher {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#searcherBar {
  border: 2px solid #fff;
  width: 29rem;
  height: 3.5rem;
  text-transform: capitalize;
  font-size: 1.5rem;
}

.searcherBtn {
  font-size: 1.5rem !important;
  margin-top: 11px;
  background-color: #3498db !important;
  color: #fff !important;
  border: 2px solid #fff !important;
}

.checkbox {
  font-size: 1.5rem;
  margin-top: 12px;
}

.funbtn {
  background-color: #3498db;
  text-transform: capitalize;
  color: #fff;
  width: 8.5rem;
  border-radius: 4px;
  border: 1px solid white;
  height: 3.2rem;
  outline: none;
  font-size: 1.5rem;
}

.btn-group2 {
  margin-top: 1%;
}

#is-student {
  padding-right: 3%;
}

#submitBtn {
  margin-right: 2%;
}

#userQuery {
  text-transform: capitalize;
  font-size: 12px;
  padding: 10px;
}

.message-box {
  margin-top: 1rem;
}

.hide {
  color: #fff;
  font-size: 3.5rem;
  font-weight: 700;
  display: none;
  margin-top: 2rem;
}

@media only screen and (max-width: 990px) {
  #study-material {
    margin-top: 6rem;
  }
}

@media only screen and (max-width: 766px) {
  #userQuery {
    width: 66rem;
    height: 30rem;
  }
}

@media only screen and (max-width: 597px) {
  #userQuery {
    width: 53rem;
    height: 23rem;
  }
}

@media only screen and (max-width: 483px) {
  #userQuery {
    width: 35rem;
    height: 28rem;
  }
  .hidepara {
    margin-left: -17rem !important;
  }
}

@media only screen and (max-width: 628px) {
  #study-material {
    margin-bottom: 11rem;
  }
  .top img {
    height: 33vh;
  }
  input[type=text] {
    width: 62%;
  }
  input[type=email] {
    width: 62%;
  }
  #is-student {
    padding-right: 8%;
  }
  #submitBtn {
    margin-right: 7%;
  }
}

@media only screen and (max-width: 487px) {
  main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    grid-gap: 3rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
/*# sourceMappingURL=material.css.map */